<div id="contact-title">
  <h1>Hey!</h1>
  <p>I'd love to hear from you about my site and what I do.</p>

  <p>From the town of Duvall to Korea and back, I love to travel. Adventure and learning go hand in hand for me.</p>
</div>

<div id="skills">
  <ul>
    <h3>Skills picked up along the way:</h3>
    <li>Philosophy and Economics degree, focused in Logic</li>
    <li>4000+ hours teaching experience and curriculum writing</li>
    <li>Intensive Ruby on Rails education</li>
    <li>Assistant Teacher U.Wash. Ruby Course</li>
  </ul>
</div>

<div id="contact-info">
  <h3>Contact me</h3>
  <ul>
    <li>EMAIL: rjswenson at gmail dot com</li>
    <li>PHONE: 303.246.7563</li>
  </ul>
</div>
