// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #1F1F1F;
}
h1, h2, h3, h5, h6, p {
      color: #E3E3E3;
}

.signing {
  a {
    color: #383838;
  }
}

.bg-img img{
  width: 60%;
  position: fixed;
  left: 30%;
  top: 66px;
}

.splash div {
  position: inline;
}

@media (max-width: 800px) {
  .bg-img img {
    max-width: 92%;
    display: block;
    position: static;
  }
  .splash div {
    position: static;
    display: block;
  }
}

li, p{
  color: #B3B3B3;
}
